%h1
  Editing
  = item

%form{:action => item.path(:save), :method => 'post' }
  - item.class.editor_options.fields.each do |field|
    != field.to_html(item.send(field.name))
  %p.submit
    %button{:type => 'submit'}
      %span Save
