- body_class 'form'

%h1
  Creating new
  = item.class.title

%form{:action => model.path(:save), :method => 'post' }
  - item.class.editor_options.fields.each do |field|
    != field.to_html(item.send(field.name))
  %p.submit
    %button{:type => 'submit'}
      %span Save
