- body_class 'form'

- content_for(:title) do
  %h1
    Create new
    = item.class.title

%form{:action => model.path(:save), :method => 'post' }
  - item.class.editor_options.fields.each do |field|
    != field.to_html(item.send(field.name))
  %p.submit
    %button{:type => 'submit'}
      %span Save
