@import 'admin/settings';
@import 'admin/reset';

@include ae-reset;

html { padding: 10px; }
html, body { background: transparent; }

/* Get rid of the top padding */
body :first-child,
body :first-child :first-child { margin-top: 0; }
