- content_for :title do
  %h1 Welcome!

- content_for(:nav) do
  %nav.crumbs
    %ul
      %li
        != link_to R(:admin), "Dashboard"

  - Aura::Editor.roots.each do |model, items|
    %nav
      %h3= model.title
      %ul
        - items.each do |item|
          %li
            != link_to item.path(:edit), item.to_s

  %nav
    %h3 Settings
    %ul
      %li
        != link_to R(:admin, :settings), "Settings"

- content_for :body do
  %a{:href => Aura::Models::Page.path(:list)} Manage pages
  - 10.times do
    %br
