%section
  - if item.try(:renderable?)
    %dl
      %dt
        URL:
      %dd
        %span.line= item.path
        - unless item.new?
          %br
          %a.ext.button.micro{:href => item.path} Visit
  %dl
    %dt
      Template:
    %dd
      %select
        %option Default
