@blue: #3ea9df;
@blue-glow: rgba(62, 169, 223, 0.4);
@blue-glow-00: rgba(62, 169, 223, 0);
@blue-glow-10: rgba(62, 169, 223, 0.1);
@blue-glow-20: rgba(62, 169, 223, 0.2);
@blue-glow-40: rgba(62, 169, 223, 0.4);
@blue-glow-70: rgba(62, 169, 223, 0.7);

@grey: #666;

@sidebar-hicolor: #d9d9dd;
@sidebar-color:   #cacbd0;

/* Dimentions */

@top-height: 40px;

@tab-height: 26px;

/* Title */
@title-height: 40px;
@tool-button-height: 30px;

@small: 8.5pt;
@medium: 9pt;
