!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title Document
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/reset.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/chrome.css')
  %body{:class => body_class}

    %header
      This is my site

    #all
      != yield
