!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title Document
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/reset.css')
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/chrome.css')
  %body{:class => body_class}

    %header#top
      %h3
        %strong This is my site
        %small Yes it is, and it's very very nice

    #all
      != yield
