@import "compass/css3";
@import "utilities";

$blue: #3ea9df;
$blue-glow: rgba(62, 169, 223, 0.4);
$blue-glow-00: rgba(62, 169, 223, 0);
$blue-glow-10: rgba(62, 169, 223, 0.1);
$blue-glow-20: rgba(62, 169, 223, 0.2);
$blue-glow-40: rgba(62, 169, 223, 0.4);
$blue-glow-70: rgba(62, 169, 223, 0.7);

$grey: #666;

$slate-blue: #e0e2e6;

$sidebar-hicolor: #d9d9dd;
$sidebar-color:   #cacbd0;

/* Dimentions */

$top-height: 40px;

$tab-height: 26px;

/* Title */
$title-height: 40px;
$tool-button-height: 30px;

$small: 8.5pt;
$medium: 9pt;

@mixin glow {
  @include shadow(0 0 4px $blue-glow, inset 0 0 2px $blue);
}

@mixin button {
  @include border-radius($tool-button-height / 2);
  display: inline-block; border: 0;
  color: white; text-shadow: 1px 1px 0 $shadow10;
  padding: 0 30px;
  height: $tool-button-height; overflow: hidden; 
  line-height: $tool-button-height + 1px;
  font-size: $medium; 

  &:hover { text-decoration: none; }
}

@mixin button-metal {
  @include gradient(#eee, #d4d4d4);
  @include shadow(inset 0 1px 0 $hilite10, 0 1px 1px $shadow20, 0 -1px 0 $shadow10);
  color: #555; text-shadow: 1px 1px 0 $hilite20;

  &:hover { @include glow; }
}

@mixin button-blue {
  @include gradient($blue, $blue * 0.9);
  color: white; text-shadow: 1px 1px 0 $shadow10;

  &:hover {
    @include gradient($blue * 0.98, $blue * 0.88);
    color: white;
    text-decoration: none;
  }
}

@mixin button-black {
  @include gradient(#555, #333);
  @include shadow(0 0 4px $blue, inset 0 0 4px $blue);
  color: white; text-shadow: 1px 1px 0 $shadow20; 

  :hover {
    @include gradient(#666, #333);
    color: white;
  }
}

$input-height: 38px;

@mixin input-focus {
  outline: 0;
  @include shadow(0 0 4px $blue-glow-40, inset 0 0 12px $blue-glow-40, 0 0 1px $blue-glow-70);
  border-color: $blue-glow * 0.6;
}

@mixin input {
  @include border-radius(2px);
  @include shadow(inset 2px 2px 0 $shadow05, inset 0 1px 2px $shadow05, 1px 1px 0 $hilite30);
  @include box-sizing(border-box);

  width: 488px; padding: 8px 8px; border: solid 1px #ccc;
  height: $input-height;

  &:hover { border-color: $blue-glow; }
  &:focus { @include input-focus; }
}

.animate-opacity {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
}
