$shadow:        rgba(0, 0, 0, 0.25);
$shadow05:      rgba(0, 0, 0, 0.05);
$shadow10:      rgba(0, 0, 0, 0.10);
$shadow15:      rgba(0, 0, 0, 0.15);
$shadow20:      rgba(0, 0, 0, 0.20);
$shadow30:      rgba(0, 0, 0, 0.30);
$shadow40:      rgba(0, 0, 0, 0.40);
$shadow50:      rgba(0, 0, 0, 0.50);
$shadow60:      rgba(0, 0, 0, 0.60);
$shadow70:      rgba(0, 0, 0, 0.70);
$shadow80:      rgba(0, 0, 0, 0.80);
$shadow90:      rgba(0, 0, 0, 0.90);

$hilite:        rgba(255, 255, 255, 0.25);
$hilite05:      rgba(255, 255, 255, 0.05);
$hilite10:      rgba(255, 255, 255, 0.10);
$hilite15:      rgba(255, 255, 255, 0.15);
$hilite20:      rgba(255, 255, 255, 0.20);
$hilite30:      rgba(255, 255, 255, 0.30);
$hilite40:      rgba(255, 255, 255, 0.40);
$hilite50:      rgba(255, 255, 255, 0.50);
$hilite60:      rgba(255, 255, 255, 0.60);
$hilite70:      rgba(255, 255, 255, 0.70);
$hilite80:      rgba(255, 255, 255, 0.80);
$hilite90:      rgba(255, 255, 255, 0.90);

$shadow5:       rgba(0, 0, 0, 0.5);
$hilite5:       rgba(255, 255, 255, 0.5);

/* Cross-browser clear fix */
@mixin clearfix {
  zoom: 1;
  &:after { content: ''; clear: both; display: block; line-height: 0; height: 0; visibility: hidden; zoom: 1; }
}

@mixin shadow($n, $o: none, $p: none) {
  $full: 0;
  @if $p != none {
    $full: $n, $o, $p;
  }
  @elseif $o != none {
    $full: $n, $o;
  }
  @else {
    $full: $n;
  }
  @include experimental(box-shadow, $full,
    -moz, -webkit, -o, not -ms, not -khtml, official
  );
}

/* For non-lists like menus */
@mixin non-list {
  &, li { margin: 0; padding: 0; list-style-type: none; display: block; }
  li { background-image: none; }
}

@mixin horiz-list {
  @include non-list; @include clearfix;
  li { float: left; }
}

/* Be sure to overflow-hidden the container! */
@mixin center-list {
  @include non-list;
  position: relative; left: 50%; float: left;
  li { position: relative; right: 50%; float: left; }
}

/* Cross-browser inline-block */
@mixin inline-block {
  display: -moz-inline-stack; display: inline-block;
}

@mixin ellipsis {
    text-overflow: ellipsis; text-wrap: none; word-wrap: none;
    overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis;
}

