// The "loading..." message.
#top #loader {
  @include border-left-radius(2px);
  @include shadow(0 0 4px $blue-glow-70, inset -3px 0 3px $shadow20);
  position: absolute; right: 0px; top: 10px; 
  background: fade-out($blue * 0.95, 0.1); padding: 5px 30px;
  color: white; text-shadow: 1px 1px 0 $shadow20;
  line-height: $small; font-size: $small;

  :hover { display: none; }
}

body.loading {
  &, * { cursor: wait !important; cursor: wait; }
}
