@import "core/lessutils/less/colors.less";
@import "core/lessutils/less/css3.less";
@import "core/lessutils/less/utilities.less";
@import "core/admin/views/css/includes/settings.less";

html { background: white; }
body { background: transparent; overflow: hidden; }

/* Cursor */
* { cursor: default; }
a, button { cursor: pointer; }

#nav, #tabs, #toolbar {
  /* Firefox */
  a:active, a:focus { outline: 0; }
}

/*
 *
 * Layout
 *
 */

body {
  #content { width: auto; min-width: 500px; }
}

/*
 * Containers
 */

.slim { margin: 0 auto; min-width: 500px; width: 70%; }
.slim-fixed { margin: 0 auto; width: 500px; }
.full { width: 100%; }
.split {
  display: table-row;
  .left, .right { display: table-cell; }
}

/*
 * The top bar
 */

#top {
  height: @top-height; line-height: @top-height; overflow: hidden; 
  background: #333; color: #ddd; padding: 0 10px; margin-bottom: 10px;
  .gradient(#444, #333);

  h3 { margin: 7px 0 0 3px; padding: 0; float: left; }
  h3 a { color: white; padding: 0; display: block; float: left; }

  h3 a.view {
    display: block; float: left; 
    .gradient(#eee, #d0d0d0); .round(10px);
    padding: 0 10px; line-height: 16px; height: 16px;
    font-size: 8pt;  font-weight: bold; color: #333;
    text-shadow: 1px 1px 0 @hilite20; 
    margin: (@top-height - 16px)/2;
    text-transform: uppercase; 

    :hover { text-decoration: none; .gradient(#fafafa, #d9d9d9); }
  }
}

#aux {
  float: right; font-size: 8pt; color: #888;

  h4 { float: left; font-weight: normal; font-size: 1em; }
  h4 { margin: 0; padding: 0; margin-right: 20px; } 
  strong { color: #ccc; font-weight: normal; }
  ul { .horiz-list; float: left; }
  a {
    color: @blue; font-weight: normal;
    :hover { color: @blue * 1.1; text-decoration: none; }
  }
}

/*
 * Sidebar
 */

#nav {
  background: #ddd; width: 200px; padding: 0 0;
  .gradient(#ddd, #ccc);
  position: absolute; left: 0; top: @top-height;
  border-top: solid 15px #333;
  overflow-y: auto; overflow-x: hidden;
  .shadow-2(inset -1px 0 0 @shadow10, inset -3px 0 2px @shadow05);
}

#nav header { 
  background: #333; margin-bottom: 10px; 
  padding: 10px;
}

.active() {
  background-color: #eee;
  .shadow-2(0 0 4px @blue-glow-40, 0 0 4px white); color: #333;
}

#nav nav {
  font-size: 8.5pt; 
  a:hover { text-decoration: none; }

  h3 {
    margin: 0 0 0 0; padding: 5px 10px;
    font-size: 8pt; 
    text-transform: uppercase; 
    color: #888; text-shadow: 1px 1px 0 @hilite30; 
    margin-top: 10px; padding-top: 10px; border-top: solid 1px #ccc; 
  }
  ul { .non-list; }
  ul li.active a, ul li a.active, ul li a:active { .active; }

  ul li.browse {
    a.active, a:active { font-weight: bold; }
  }

  a:hover { background: @hilite10; }
  ul a {
    padding: 0 10px 0 20px;
    height: 24px; line-height: 24px; 
    color: #555; display: block; font-weight: normal; 

    :hover { color: #333; text-decoration: none; }
  }

  ul li.add a {
    color: #bbb;
  }

  ul ul a {
    padding-left: 40px; 
  }

  li.browse a {
    background-image: url(/images/admin/browse.png);
    background-position: 97% center;
    background-repeat: no-repeat;
  }
}

#nav.transitioning ul li a.active { font-weight: bold; }

#nav nav.back {
  background: #393939; margin: 0 0 10px 0;
  a {
    background: #393939;
    display: block; padding: 10px 10px 10px 25px; color: #ddd;
    background-image: url(/images/admin/back.png);
    background-position: 5px center;
    background-repeat: no-repeat; 
    :hover { background-color: #404040; }
  }
  a:active, a.active {
    .active();
  }
  a:not(.active) { .shadow-2(inset 0 -2px 2px @blue-glow-70, 0 0 4px @blue); }
}

#nav nav.crumbs {
  a { padding: 0 10px; height: 24px; line-height: 24px; display: block; color: #333; }
  a.active { .active; }
}

/*
 * Tabs
 */

#tabs {
  position: absolute; top: (@top-height - @tab-height); left: 200px;
  ul { .horiz-list; }
  a, span {
    .border-top-radius(2px);
    font-size: @small;
    display: block; 
    padding: 0 30px 0 10px; margin-right: 5px;  
    background: #555; color: #ddd; text-shadow: 1px 1px 0 @shadow20; 
    height: @tab-height; line-height: @tab-height; 
    .shadow(inset 0 1px 0 @hilite05);
    :hover { text-decoration: none; }
  }
  a:hover { background: #626262; }

  li.active {
    a, span {
      background: white; color: @grey; text-shadow: 1px 1px 0 @shadow10;
      .shadow(inset 0 1px 1px @blue-glow-40);
    }
  }
}

/*
 * Title
 */

#title {
  .gradient(#fff, #f7f7f7);
  border-bottom: solid 1px #ccc; 
  padding: 5px 10px; margin: -10px -10px 10px -10px;
  padding: 10px; text-align: left; .clearfix;
  .shadow-3(2px 0 4px @shadow10, inset 0 -1px 0 @hilite30, inset 0 -1px 2px @blue-glow-20);

  .title-c { float: left; }
  h1 {
    color: @blue; font-size: 17pt;
    line-height: @title-height - 10px; margin: 0;
    text-shadow: 1px 1px 0 @hilite50; 
  }
}

.glow() {
  .shadow-2(0 0 4px @blue-glow, inset 0 0 2px @blue);
}

.button() {
  display: block;
  color: white; text-shadow: 1px 1px 0 @shadow10;
  padding: 0 30px;
  height: @tool-button-height; overflow: hidden; 
  line-height: @tool-button-height + 1px;
  .round(@tool-button-height / 2);
  font-size: @medium; 
}

.button-metal() {
  .gradient(#eee, #d4d4d4); color: #666; text-shadow: 1px 1px 0 @hilite20; 
  .shadow-2(inset 0 1px 0 @hilite10, 0 1px 1px @shadow20);
}

.button-blue() {
  .gradient(@blue, @blue * 0.9); color: white; text-shadow: 1px 1px 0 @shadow10; 
  :hover {
    .gradient(@blue * 0.98, @blue * 0.88); color: white;
    text-decoration: none;
  }
}
.button-black() {
  .gradient(#555, #333); color: white; text-shadow: 1px 1px 0 @shadow20; 
  .shadow-2(0 0 4px @blue, inset 0 0 4px @blue);
  :hover {
    .gradient(#666, #333); color: white;
  }
}

#toolbar {
  float: right;
  ul { .horiz-list; }
  a {
    margin-left: 10px; 

    .button; .button-metal;
    :hover { text-decoration: none; }
    :hover { .glow; }
    :active { .button-black; }
  }

  a.blue { .button-blue; }
  a.black { .button-black; }
}

/*
 * Area
 */

#area {
  background: #eee; padding: 10px;
  position: absolute; left: 200px; top: @top-height;
  overflow-y: auto; overflow-x: hidden;
}

#content {
  margin: 0 auto;
}

/*
 * Flash message
 */

#flash {
  .gradient(#adf * 1.1, #adf); margin: -10px -10px 10px -10px;
  padding: 5px 10px; text-align: center;
  .shadow-2(0 0 10px #adf, inset 0 1px 0 @hilite20);
  .border-bottom-radius(4px);
  color: #7bd * 0.6; text-shadow: 1px 1px 0 @hilite20; 
  ul { .non-list; }
  border-bottom: solid 1px @shadow10;
}

/* Table */
section.items table { width: 100%;
  tr:last-child td { padding-bottom: 0; }
  tr:first-child td { border-top: 0; padding-top: 0; }
  td { padding: 10px 5px; border-top: dotted 1px #ddd; }
  td:first-child { padding-left: 0; }
  td:last-child { padding-right: 0; }
  td.actions { width: 150px; text-align: right; }
}

ul.actions { list-style-type: none; margin: 0; padding: 0; float: right; font-size: 8pt; line-height: 16px;
  li { margin: 0; padding: 0; float: left; }
  a { background: #ddd; color: #333; display: block; float: left; padding: 1px 9px; }
  a { text-shadow: 1px 1px 0 @hilite30; .shadow(1px 1px 0 @shadow20); }
  a { border-left: solid 1px @hilite40; border-right: solid 1px @shadow10; }
  li:first-child a { .border-left-radius(8px); border-left: 0; }
  li:last-child a { .border-right-radius(8px); border-right: 0; }
  a:hover { text-decoration: none; background: #888; color: white; text-shadow: 1px 1px 0 @shadow20; }
}

/* Forms */
#content form:not(.bypass) {
  p { margin: 10px 0; }
  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; border-bottom: 0; }
  label { display: block; font-weight: bold; line-height: 24px; color: #777; }
  textarea, input { width: 488px; padding: 5px; border: solid 1px #ddd; }
  textarea, input { .round(2px); .shadow-2(inset 2px 2px 0 @shadow05, inset 0 1px 2px @shadow05); }
  textarea { height: 220px; }
  p.submit { background: #f2f2f2; padding: 10px; text-align: center; }
  p.submit { margin: 20px -10px -10px -10px; border-top: solid 1px #ddd; }
  p.submit button { background: #7bd; padding: 6px 15px; border: 0; }
  p.submit button { color: white; font-size: 10pt; font-weight: bold; }
  p.submit button { .round(3px); .shadow(1px 1px 0 @shadow30); }
  p.submit button:hover { background: #7bd * 1.1; }
}

/* Errors */
#content .validation-errors {
  background: #fee; margin: -10px -10px 10px -10px; padding: 10px;
  h3 { margin: 0; padding: 0; }
  ul { .non-list; }
}

