/* Forms */
#content form:not(.bypass) {

  fieldset { margin: 10px 0; border: 0; }
  h3.legend { @extend h3.bar; }

  p { margin: 10px 0; }
  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; border-bottom: 0; }
  label { display: block; font-weight: bold; line-height: 24px; color: #777; }
  textarea, input { @include input; @include box-sizing(border-box); width: 100%; }
  textarea { height: 220px; }
  p.submit {
    @extend .message;
    height: 35px; line-height: 35px; padding: 5px 15px 5px 10px;
    margin: 20px 0;
    & { text-align: left; @include clearfix; }
    button { @include button; @include button-black; }
    .right { float: right; }
  }
}
