@import "extensions/lessutils/less/colors.less";
@import "extensions/lessutils/less/css3.less";
@import "extensions/lessutils/less/utilities.less";

body { background: #7bd; color: #eee; text-shadow: 1px 1px 0 @shadow10; }

body > header,
#content { width: 760px; margin: 0 auto; }

body > header { border-bottom: solid 1px @hilite20; padding: 20px 0 10px 0; }




