-# This file is used on grave server errors, like
-# database errors. They are not used by sinatra's error
-# handlers.

!!! 5
%style
  :plain
    body { font: 10pt/1.5 arial, sans-serif; }
    body { background: #555; }
    #trace { margin: 80px auto; width: 650px; background: white; padding: 20px; }
    #trace a { display: block; background: #7bd; color: white; padding: 5px 10px; text-align: center; }
    pre { overflow: auto; }
    h1 { font-size: 1.5em; text-align: center; color: #7bd; line-height: 1.3; }
    h1, p { margin: 10px 0; }
    code { background: #eee; white-space: no-wrap; padding: 1px 3px; border: solid 1px #ddd; }

%body
  #trace
    %pre= output
    %a{:href => '/login'} Continue
