-# This file is used on grave server errors, like
-# database errors. They are not used by sinatra's error
-# handlers.

!!! 5
%style
  :plain
    body { font: 10pt/1.5 arial, sans-serif; }
    body { background: #555; }
    #error { margin: 80px auto 50px auto; width: 400px; background: white; padding: 20px 40px; text-align: center; }
    h1, p { margin: 10px 0; }
    h1 { font-size: 2.2em; text-align: center; color: #7bd; line-height: 1.3; margin-bottom: 0; }
    p.brief { margin-top: 0; font-size: 1.1em; }
    p.note { color: #666; font-size: 0.9em; padding: 0 20px; }
    p.note code { font-size: 0.8em; }
    code { background: transparent; white-space: no-wrap; padding: 2px 3px; color: #902030; }
    code, pre { font-family: lucida console; font-size: 0.95em; }
    ul, li { margin: 0; padding: 0; }
    span.muted { color: #999; font-size: 0.9em; }
    ul { margin: 30px 30px; font-size: 1.1em; }
    ul li { list-style-type: none; border-top: solid 1px #ddd; padding: 20px 0; text-align: center; }
    ul li p { padding: 0; margin: 0; }
    ul li .or { display: block; background: white; text-align: center; margin: -30px auto 15px auto; width: 50px; color: #888; font-family: georgia, sans-serif; font-style: italic; font-size: 0.9em; }
    ul li:first-child:before { content: ''; }
    ul { border-bottom: solid 1px #ddd; }
    a { font-weight: bold; text-decoration: none; font-size: 1.1em; }
    a, a:visited { color: #7bd; }
    p.footer { text-align: center; color: #666; font-size: 0.9em; }
    p.footer:hover,
    p.footer:hover * { color: #ddd; }

%body
  #error
    %h1!= heading
    != description

  - unless error.nil?
    %p.footer
      %strong= error.class.to_s
      %br
      %span= error
