%br
%br

- fieldset = item.class.form.fieldset(:default)
%fieldset
  %h2.greeting Hi! Your login email is:

  - fieldset.fields.each do |field|
    !~ field.to_html(item.try(field.name))

  - unless item.new?
    %p.description.align-center
      If you would like to change your password, enter a new one below, twice.
      Otherwise, leave these blank to leave your password as it is.

  - fieldset = item.class.form.fieldset(:password)
  - fieldset.fields.each do |field|
    !~ field.to_html(item.try(field.name))
