- first ||= false

%br
%br

- fieldset = item.class.form.fieldset(:default)
%fieldset
  %h2.greeting Hola! Your login email is:

  - fieldset.fields.each do |field|
    !~ field.to_html(item.try(field.name))

  - if first
    %p.description.align-center
      Feel free to change it if you wish. Now enter a good password below,
      twice. We'll get you started with your site right after!

  - elsif !item.new?
    %p.description.align-center
      If you would like to change your password, enter a new one below, twice.
      Otherwise, leave these blank to leave your password as it is.

  - fieldset = item.class.form.fieldset(:password)
  - fieldset.fields.each do |field|
    !~ field.to_html(item.try(field.name))
