%br
%br

- fieldset = item.class.form.fieldset(:default)
%fieldset
  %h2.greeting Hi! Your username is:

  - fieldset.fields.each do |field|
    !~ field.to_html(item.try(field.name))

  - fieldset = item.class.form.fieldset(:password)
  -# %h3.legend= fieldset
  - unless item.new?
    %p.description.align-center
      If you would like to change the password, enter them twice below.
      Otherwise, leave these blank to leave your password as it is.

  - fieldset.fields.each do |field|
    !~ field.to_html(item.try(field.name))
